@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
    color: #56585f;
}

body {
    background-color: #ffffed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.container.center {
    justify-content: center;
}

header,
footer {
    width: 100%;
}

main {
    width: 76%;
}

aside {
    width: 17%;
}

article {
    margin-bottom: 50px;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.italic {
    color: #777;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
}

h3, h4 {
    text-align: center;
}

/* Header and Footer - common rules */

header::before {
    bottom: 0;
}

footer::before {
    top: 0;
}

header::before,
footer::before {
    background-color: rgba(241, 202, 143, 0.4);
    border-radius: 50%;
    /* box-shadow: 0px 1px 2px 1px rgb(212, 212, 206); */
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Start - Header */

header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

header a {
    color: rgba(58, 150, 211, 0.7);
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* --- Start Animation Header --- */

/* Show all navigation */
header .wrap-logo {
    transform: translateY(-200%);
    transition: transform 0.5s ease;
    width: 150px;
}

header nav {
    margin-right: 20px;
    transform: translateX(200%);
    transition: transform 0.5s ease;
    transition-delay: 0.2s;

}

header nav.show-after-load,
header .wrap-logo.show-after-load {
    transform: translateX(0);
}

/* Show only brown low dash - НЕ РАБОТИ ЗАРАДИ ПЪРВАТА АНИМАЦИЯ!!!!!!!!!!!!*/

nav li {
    position: relative;
}

a.nav-link::before,
a.show-dash::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: brown;
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s;
}

a.show-dash::before {
    opacity: 1;
}

a.nav-link:hover::before {
    display: block;
    opacity: 1;
}

/* --- End Animation Header --- */

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

header nav ul li:not(:last-child):after {
    background-color: #56585f;
    content: "";
    height: 15px;
    right: -12px;
    position: absolute;
    top: 2px;
    width: 1px;
}

/* End - Header */

/* Start - Main */



h1 {
    color: rgba(233, 119, 119, 1);
    font-size: 2.5em;
    text-align: center;
    /* text-shadow: 1px 1px 0 brown, 1px 1.5px 0 brown, 1px 2px 0 brown, 1px 2.5px 0 brown,
    1px 3px 0 brown, 1px 3.5px 0 brown, 1px 4px 0 brown, 1px 4.5px 0 brown,
    5px 13px 15px black; */
}

/* Article - One */

article.one p.text {
    text-align: center;
}

.one .wrap-img img,
.three .wrap-img img {
    border-radius: 5px;
    width: 700px;
}

/* Article - Two */

.two {
    /* background-color: rgba(180, 190, 190, 0.2); */
    border-radius: 12px;
    /* box-shadow: 0 0 9px inset rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

.two .wrap-img,
.two .wrap-text {
    border-radius: 5px;
    box-shadow: 0 0 12px inset rgba(204, 214, 61, 0.7);
    padding: 10px;
    width: 450px;
}

.two .wrap-img {
    background-color: white;
    margin-right: 20px;
}

.two .wrap-text {
    /* background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 12px inset rgba(207, 203, 253, 1); */
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
}

.two .wrap-text p:first-child {
    margin-top: 0;
}

.link-gallery {
    color: rgba(233, 119, 119, 0.7);
    font-style: italic;
    font-weight: bold;
}

/* Article - Three */

 .three {
    display: flex;
    justify-content: center;
 }

 /* Contacts */

 .contacts.center {
    margin: 0 auto;
    width: 300px;
}

.email,
.social,
.address {
    padding-left: 10px;
    position: relative;
}

/* End - Main */

/* Start - Aside */

aside {
    margin-top: 100px;
    position: relative;
}

aside::before {
    background-color: rgba(241, 202, 143, 0.4);
    border-radius: 50%;
    content: "";
    height: 90%;
    position: absolute;
    left: -20%;
    width: 2px;
}

h4 span {
    display: block;
    text-align: center;
}

.current-article {
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: #fefefe;
    /* border: 1px solid gray; */
    border-radius: 5px;
    border: 1px solid rgba(141, 34, 34, 1);
    border-bottom: 1px solid rgba(136, 136, 136, 0.3);
    /* box-shadow: 0px 0px inset 5px rgb(0 0 0 / 60%);
    -moz-box-shadow: 0px 0px inset 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 5px inset rgb(0 0 0 / 60%); */
    box-shadow: 0px 0px 5px inset rgba(141, 34, 34,0.7);
    padding: 5px;
    margin-bottom: 20px;
}

.wrap-text-article {
    padding: 10px 15px;
}

/* End - Aside */

/* Start - Footer */

footer {
    position: relative;
    width: 100%;
}

.wrap-footer-content {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.wrap-nationality {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flag {
    margin-left: 5px;
    width: 25px;
}

.space-vertically {
    padding: 5px 0;
    width: 200px;
    text-align: center;
    border-bottom: 1px solid;
}

.position-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook-f {
    color: white;
    font-size: 12px;
}

.icon-image {
    align-items: center;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    flex-flow: row;
    height: 25px;
    justify-content: center;
    margin-left: 5px;
    width: 25px;
}

/* End - Footer */

/* Start GALLERY Page */
    .wrapper-gallery-images {
        display: flex;
        justify-content: center;
    }
    .wrapper-gallery-images ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 420px;
    }

    .small-img {
        flex: 0 1 31%;
    }

    .big-img {
        flex: 0 1 48%;
        margin-top: 3%;
    }

    .small-img img {
        background-position: center;
        width: 100%;
    }

    .two .gallery-text-container {
        box-shadow: none;
        justify-content: flex-start;
        padding-top: 0;
    }

    .gallery-text-container ul li {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        padding: 10px 0 10px 25px;
        position: relative;
    }

    .gallery-text-container ul li::before {
        content: "\f004";
        color: brown;
        position: absolute;
        left: 0;
        top: 15px;
        font-family: "Font Awesome 5 Free"; 
        font-size: 12px;
    }

    .icon {
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

/* End Gallery Page */

/* Start Contacts */

.wrap-img.maps {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* End Contacts */

/* Start - Media Query */

@media (max-width:1100px) {

    header a {
        font-size: 17px;
    }
    .two .wrap-img {
        margin-right: 10px;
        width: 340px;
    }

    .two .wrap-text {
        margin-left: 10px;
        width: 340px;
    }

    /* Aside */

    .aside h3 {
        font-size: 17px;
    }

    .aside h4 {
        font-size: 14px;
    }

    .aside .wrap-text-article {
        padding: 10px 5px;
    }
}

@media (max-width:768px) {
    /* Global */

    main {
        width: 100%;
    }

    aside {
        margin: 0 0 20px 0;
        width: 100%;
    }

    p {
        font-size: 15px;
    }

    /* Header */
    header .wrap-logo {
        width: 120px;
    }

    header nav ul li {
        display: block;
        margin: 5px 0px;
    }

    header nav ul li:not(:last-child):after {
        display: none;
    }

    header a {
        font-size: 16px;
    }

    h1 {
        font-size: 2em;
    }

    /* Article - One */

    article.one {
        margin-bottom: 0;
    }

    /* Section - Two */

    .two {
        flex-flow: column;
        max-width: 700px;
        margin: 0 auto;
    }

    .two .wrap-img {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .two .wrap-text {
        margin-left: 0;
        width: 100%;
    }

    /* Three */ 

    .three {
        margin-bottom: 0;
    }

    /* Aside */ 

    .aside .wrap-img-article {
        margin: 0 auto;
        width: 80%;
    }

    .aside .wrap-img-article img {
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .aside .wrap-text-article {
        padding: 10px 10%;
    }

    /* Galery */

    .two .gallery-text-container {
        max-width: 420px;
        margin: 20px auto 0 auto;
        padding: 0;
    }

    /* Contacts */ 

    .contacts.center {
        width: 250px;
    }

    .contacts p {
        font-size: 12px;
        line-height: 1;
    }
    
}

@media (max-width:480px) {
    /* Global */

    p {
        font-size: 13px;
    }

    /* Header */
    header .wrap-logo {
        width: 90px;
    }

    header nav ul li {
        margin: 2px 0;
    }

    header a {
        font-size: 12px;
    }

    h1 {
        font-size: 1.5em;
    }

    .space-vertically {
        font-size: 13px;
    }

    /* Gallery */

    .small-img {
        flex: 0 1 48%;
    }
    
    .small-img:nth-child(3) {
        margin-top: 3%;
    }

    .big-img:last-child {
        flex: 1 0 100%;
    }

    .two .gallery-text-container {
        padding: 30px 0 0 0;
    }

    .gallery-text-container p.text {
        font-size: 14px;
    }

    .gallery-text-container ul li {
        font-size: 13px;
        line-height: 1.2;
        padding: 5px 0 10px 20px;
    }

    .gallery-text-container ul li::before {
        top: 7px;
    }

    /* Aside */

    .aside .wrap-text-article {
        font-size: 12px;
    }

    /* Contacts */ 

    .contacts p {
        font-size: 11px;
    }

    .maps iframe {
        max-width: 100%;
    }
}

@media (max-width: 320px) {

    article {
        margin-bottom: 20px;
    }

    header {
        flex-direction: column;
    }
    
    header .wrap-logo {
        width: 70px;
    }

    header nav {
        margin: 0 0 10px 0;
    }

    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 0;
    }

    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 11px;
    }

    /* Aside */

    .aside .wrap-img-article {
        width: 90%;
    }

    .aside .wrap-text-article {
        font-size: 11px;
        padding: 5px;
    }

    /* Gallery */

    .two .gallery-text-container {
        padding: 20px 0 0 0;
    }

    .gallery-text-container p.text {
        font-size: 13px;
    }

    .gallery-text-container ul li {
        font-size: 12px;
        line-height: 1.1;
        padding: 5px 0 10px 20px;
    }

    .gallery-text-container ul li::before {
        top: 7px;
    }

    /* Contacts */ 

    .contacts p {
        font-size: 10px;
    }

}
