@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
    color: #56585f;
}

body {
    background-color: #ffffed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    max-width: 1200px;
}

article {
    margin-bottom: 50px;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

/* Header and Footer - common rules */

header::before {
    bottom: 0;
}

footer::before {
    top: 0;
}

header::before,
footer::before {
    background-color: rgba(241, 202, 143, 0.4);
    border-radius: 50%;
    /* box-shadow: 0px 1px 2px 1px rgb(212, 212, 206); */
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Start - Header */

header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

header a {
    color: #56585f;
    font-size: 16px;
    font-weight: bold;
}

/* -- Start Animation Header */

header .wrap-logo {
    transform: translateY(-200%);
    transition: transform 0.5s ease;
    width: 150px;
}

header nav {
    margin-right: 20px;
    transform: translateX(200%);
    transition: transform 0.5s ease;
    transition-delay: 0.2s;

}

header nav.show-after-load,
header .wrap-logo.show-after-load {
    transform: translateX(0);
}

/* -- End Animation Header */

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

header nav ul li:not(:last-child):after {
    background-color: #56585f;
    content: "";
    height: 15px;
    right: -12px;
    position: absolute;
    top: 2px;
    width: 1px;
}

/* End - Header */

/* Start - Main */

/* Article - One */
h1 {
    color: rgba(233, 119, 119, 0.7);
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 0 brown, 1px 1.5px 0 brown, 1px 2px 0 brown, 1px 2.5px 0 brown,
    1px 3px 0 brown, 1px 3.5px 0 brown, 1px 4px 0 brown, 1px 4.5px 0 brown,
    5px 13px 15px black;
}

article.one p.text {
    text-align: center;
}

.one .wrap-img img,
.three .wrap-img img {
    width: 700px;
}

/* Article - Two */

.two {
    /* background-color: rgba(180, 190, 190, 0.2); */
    border-radius: 12px;
    /* box-shadow: 0 0 9px inset rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

.two .wrap-img,
.two .wrap-text {
    background-color: white;
    /* border: 3px solid brown; */
    /* box-shadow: 0 0 12px inset rgb(0 0 0 / 80%); */
    box-shadow: 0 0 12px inset rgba(204, 214, 61, 0.7);
    padding: 10px;
    width: 450px;
}

.two .wrap-img {
    margin-right: 20px;
}

.two .wrap-text {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
}

.two .wrap-text p:first-child {
    margin-top: 0;
}

/* Article - Three */

 .three {
    display: flex;
    justify-content: center;
 }

/* End - Main */

/* Start - Footer */

footer {
    position: relative;
    width: 100%;
}

.wrap-footer-content {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.wrap-nationality {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flag {
    margin-left: 5px;
    width: 25px;
}

.space-vertically {
    padding: 5px 0;
    width: 200px;
    text-align: center;
    border-bottom: 1px solid;
}

.fa-facebook-f {
    background-color: blue;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    padding: 5px 7px;
}

/* End - Footer */

/* Start - Media Query */

@media (max-width:1100px) {
    .two .wrap-img {
        margin-right: 10px;
        width: 340px;
    }

    .two .wrap-text {
        margin-left: 10px;
        width: 340px;
    }
}

@media (max-width:1024px) {
    
}

@media (max-width:768px) {
    /* Header */
    header nav ul li {
        display: block;
        margin: 5px 0px;
    }

    header nav ul li:not(:last-child):after {
        display: none;
    }

    /* Article - One */

    article.one {
        margin-bottom: 0;
    }

    /* Section - Two */

    .two {
        flex-flow: column;
        max-width: 700px;
        margin: 0 auto;
    }

    .two .wrap-img {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .two .wrap-text {
        margin-left: 0;
        width: 100%;
    }
    
}

@media (max-width:480px) {

}

@media (max-width: 320px) {
    
    
}
