.wrap-google-maps {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 255, 0, 0.1);
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.googleText {
    color: rgba(233, 119, 119, 1);
    text-shadow: 1px 1px 0 rgba(0 0 0 / 50%);
    position: absolute;
    top: -10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
