.h2 {
    color: var(--color-brown);
}

.section-contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.wrap-info {
    width: 300px;
    background-color: rgba(141, 34, 34, 1);
    border-radius: 20px 145px / 135px;
    box-shadow: 
        -8px -8px 12px rgba(255, 255, 255, 0.35),
        10px 10px 5px rgb(0 0 0 / 60%);
    -moz-box-shadow: 
        -8px -8px 12px rgba(255, 255, 255, 0.35),
        10px 10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 
        -8px -8px 12px rgba(255, 255, 255, 0.35),
        10px 10px 5px rgb(0 0 0 / 60%);
    -o-box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    color: rgb(248, 242, 242);
    /* padding: 10px 10px 10px 100px; */
}

.position-text {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

.heading-contacts {
    position: relative;
    left:  -10px;
}

.heading-contacts::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    background-size: contain;
}

.icon-location::before {
    background-image: url("https://res.cloudinary.com/audipower/image/upload/v1644830685/home-icon_jcbh4g.png");
}

.icon-phone::before {
    background-image: url("https://res.cloudinary.com/audipower/image/upload/v1652476270/phone_nbsxsf.png");
}

.icon-time::before {
    background-image: url("https://res.cloudinary.com/audipower/image/upload/v1654634493/clock-icon-min_e9sbjf.png");
}

.wrap-spans-contacts {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    position: relative;
}

.wrap-spans-contacts .heading-contacts {
    margin-bottom: 5px;
}

.heading-contacts {
    position: relative;
}

.map {
    width: 500px;
}

.wrap-google-maps {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.google-big-link {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.google-big-link::after {
    content: "Виж на цял екран";
    color: rgb(255, 255, 255);
    background-color: rgba(0, 139, 139, 0.6);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    transform: translateX(-50%);
}

.google-big-link:hover::after {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 139, 139, 1);
}