.wrapper-promotions {
    min-height: 60vh;
    position: relative;
    z-index: 2;
}

.text-background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-background p {
    text-align: center;
    transform: rotate(-25deg);
    font-size: 70px;
    color: #fff;
    opacity: 0.1;
    margin-top: 150px;
    position: fixed;
}

.section-promotions {
    width: 800px;
    margin: 0 auto;
}

.each-promotion-wrapper {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.section-promotions article {
    display: flex;
    justify-content:  space-between;
    align-items: flex-start;
}

.wrap-image-promotions {
    border-radius: 10px;
    box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.35),
        -6px -6px 12px 0 rgba(255, 255, 255, 0.35);
    display: flex;
    overflow: hidden;
    width: 330px;
}

.wrap-image-promotions:hover {
    transform: scale(1.1);
    transition: 1s;
}

.wrap-image-promotions .image {
    border-radius: 10px;
}

.wrap-text-promotions {
    border-top: 1px solid navajowhite;
    color: rgb(250, 246, 246);
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 420px;
}

.section-promotions h3 {
    color: red;
    font-size: 25px;
    font-weight: 400;
    margin: 0px 0px 5px 380px;
    text-shadow: 
        1px 1px 1px rgb(177, 174, 174),
        -1px -1px 1px rgba(0, 0, 0, 0.6);
}

.wrap-text-promotions p {
    margin-bottom: 10px;
    line-height: 1.5;
    flex: 1 0 100%;
}

.wrap-text-promotions > span {
    margin-bottom: 10px;
}

.descriptionMain,
.priceRegular {
    font-weight: 300;
}

.descriptionDiscount {
    color: navajowhite;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Merriweather', serif;
}

.priceDiscounted {
    border-radius: 10px;
    background: linear-gradient(-45deg, rgba(0,0,0,0.26), rgba(255,255,255,0.57));
    box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.35),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.35);
    color: red;
    font-size: 25px;
    padding: 3px 10px;
    text-shadow: 
        1px 1px 1px rgb(177, 174, 174), 
        -1px -1px 1px rgba(0, 0, 0, 0.6);
}

/* ---------------- Styles from dangerouslySetInnerHtml---------------------- */
.wrap-text-promotions p span {
    font-family: 'Merriweather', serif;
    color: navajowhite;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 20px 145px / 135px;
    border: 1px solid navajowhite;
    padding: 1px 4px;
    display: inline-block;
    
}

.wrap-text-promotions p b {
    font-weight: 500;
}

@media (max-width: 849px) {
    .section-promotions {
        width: 700px;
    }

    .section-promotions h3 {
        font-size: 20px;
    }

    .wrap-image-promotions {
        width: 280px;
    }

    .wrap-text-promotions {
        font-size: 17px;
        width: 330px;
    }
}

@media (max-width: 767px) {
    .section-promotions {
        width: 90%;
    }

    .section-promotions h3 {
        font-size: 18px;
        margin-left: 75%;
        transform: translateX(-50%);
    }

    .wrap-image-promotions {
        width: 45%;
    }

    .wrap-text-promotions {
        font-size: 16px;
        width: 50%;
    }
}

@media (max-width: 699px) {
    .wrap-text-promotions {
        font-size: 16px;
    }

    .wrap-text-promotions p span {
        font-size: 13px;
    }

    .priceDiscounted {
        font-size: 22px;
    }
}

@media (max-width: 579px) {
    .section-promotions article {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .each-promotion-wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .section-promotions h3 {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
        transform: translateX(0);
        width: 100%;
    }

    .wrap-image-promotions {
        width: 330px;
        position: relative;
    }

    .wrap-text-promotions {
        margin-top: 15px;
        padding-top: 15px;
        width: 330px;
    }

    .wrap-text-promotions p {
        line-height: 1.4;
    }

    .priceDiscounted {
        margin: 0 auto;
        width: 100%;
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 399px) {
    .wrap-image-promotions,
    .wrap-text-promotions {
        width: 95%;
    }

    .wrap-text-promotions {
        font-size: 15px;
    }

    .wrap-text-promotions p span {
        font-size: 12px;
    }

    .descriptionDiscount {
        letter-spacing: 3px;
    }
}

@media (max-width: 349px) {
    .section-promotions h3 {
        font-size: 18px;
    }

    .wrap-text-promotions p span {
        font-size: 12px;
    }

    .priceDiscounted {
        font-size: 20px;
    }

}

@media (max-width: 279px) {
    .section-promotions h3 {
        font-size: 16px;
    }

    .wrap-text-promotions {
        font-size: 14px;
    }

    .descriptionDiscount {
        font-size: 12px;
    }
}
