.gallery-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

.wrap-gallery-images {
    display: flex;
    flex: 0 1 48%;
    justify-content: center;
}

.wrap-gallery-images ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.small-image {
    flex: 0 1 31%;
    
}

.big-image {
    flex: 0 1 48%;
    margin-top: 3%;
    width: 50%;
}

.gallery-text-container {
    justify-content: flex-start;
    padding-top: 0;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    flex: 0 1 48%;
    padding: 20px;
}

.gallery-text-container ul li {
    display:  flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 15px;
}

.gallery-text-container ul li p:first-child {
    margin-right: 10px;
}

.bold {
    font-weight: 600;
}
