.service-item {
    background-color: rgba(248, 248, 248, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 55%);
    display: flex;
    width: 380px;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 10px 20px 10px;
    padding: 10px;
}

.service-item:hover {
    background-color: rgba(230, 218, 218, 1);
}

/* .service-item:hover .wrap-main-name h2 {
    color: rgb(235, 229, 229);
} */

.wrap-main-name h2 {
    /* color: rgb(255, 255, 255); */
    color: rgb(164, 22, 72);
    color: var(--color-brown);
    font-weight: 100;
    /* text-shadow: 
        1px 0px rgb(164, 22, 72), 
        -1px 0px rgb(164, 22, 72),
        0px 1px rgb(164, 22, 72),
        0px -1px rgb(164, 22, 72),
        5px 5px 3px rgba(0, 0, 0, 0.6); */
}

.wrap-secondary-name {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 35px;
}

.wrap-secondary-name h3 {
    color: rgba(187, 124, 120, 1);
    position: relative;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

.wrap-secondary-name .country {
    position: absolute;
    bottom: -7px;
    right: 0;
    font-family: "Pacifico";
    font-size: 12px;
    color: rgba(85, 85, 85, 0.8);
    text-shadow: none;
}

.img {
    object-fit: cover;
}

.wrap-image-service {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px inset rgb(0 0 0 / 50%);
    display: flex;
    height: 160px;
    margin: 20px auto;
    padding: 10px;
    width: 320px;
}

.wrap-btn-service {
    box-shadow: -1px -1px 5px white,4px 4px 3px rgba(68, 66, 66, 1);
    border-radius: 12px;
    margin: 10px 0;
    transition: all 0.5s ease;
}

.btn-service {
    padding: 10px 30px;
    border-radius: 8px;
    display:  inline-block;
    border-radius: 12px;
    color: var(--color-brown);
    transition: all 0.3s ease;
}

.btn-service:hover {
    background-color: var(--color-light-brown);
    box-shadow: 0px 0px 15px 5px inset rgba(0, 0, 0, 0.5);
    color: var(--color-almost-white);
    text-shadow: 1px 1px var(--color-black);
}
