.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin:  0 auto;
}

.main {
    /* min-height: 80vh; */
    width: 100%;
}

@media (max-width: 480px) {
    .main {
        min-height: 70vh;
    }
}

@media (max-width: 320px) {
    .main {
        min-height: 60vh;
    }
}