.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin:  0 auto;
}

.main {
    min-height: 82vh;
    width: 100%;
}

@media (max-width: 479px) {
    .main {
        min-height: 73vh;
    }
}

@media (max-width: 319px) {
    .main {
        min-height: 60vh;
    }
}

@media (max-width: 250px) {
    .container {
        width: 95%;
    }
}