@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; <- Only One Rule*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
/* font-family: 'Caveat', cursive;  <- Many sizes of thickness*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');
/* font-family: 'Roboto Slab', serif; --- For the ordinary shrift */

body {
    /* background-color: rgba(211, 209, 205, 0.3); */
    background-image: url("./images/unsplash-gray.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    min-height: 100vh;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1200px;
}

/* --- General Rules --- */

h1 {
    color: #f5f5f5;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
}

h2 {
    text-align: center;
}

section {
    border: 1mm groove rgba(66, 64, 64, .6);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    margin: 20px 15%;
    max-width: 1200px;
}

article {
    border: 2mm ridge rgba(170, 50, 220, .6);
    border-radius: 20px;
    /* Check here if something wrong */
    flex: 1 1 100%;
    /* ----------------------------- */
    margin: 10px;
    padding: 30px;
}

.font-icons {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* --- End General Rules --- */

/* ---Start Section Header --- */

article.heading-wraper {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 50px;
}

h1 span {
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

h1 span.bold {
    font-weight: 600;
    position: relative;
}

h1 span.bold::before,
h1 span.thin::before {
    bottom: 60px;
    color: darkcyan;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    text-shadow: none;
}

h1 span.bold::before {
    content: "\f304";
    left: 25px;
}

h1 span.thin {
    font-weight: 500;
    position: relative;
}

h1 span.thin::before {
    content: "\f1b2";
    left: 50px;
}

.length {
    width: 100%;
}

.upper-right {
    text-align: right;
}

.space-right {
    padding-right: 50px;
}

.h1 {
    text-align: center;
}

.lower-left .space-left {
    padding-left: 25px;
}

.wrap-kite {
    position: relative;
    text-align: right;
    width: 100%;
}

.kite {
    animation: myfirst 5s 2;
    animation-direction: alternate;
    position: absolute;
    right: 0px;
    top: -35px;
    width: 55px;
}

@keyframes myfirst {
    0%   {width: 55px; top: -35px;}
    50%  {width: 45px; top: -100px;}
    100% {width: 35px; top: -35px;}
}

.wrap-kite::after {
    content: "\f522";
    color: darkcyan;
    position: absolute;
    right: 20px;
    top: 10px;
}

.text-kids {
    color: rgb(156, 201, 201);
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    text-shadow: 1px 1px 1px rgb(128, 145, 145),
        1px 2px 1px rgb(87, 100, 100),
        1px 3px 1px rgb(87, 100, 100),
        1px 4px 1px rgb(87, 100, 100),
        1px 5px 1px rgb(87, 100, 100),
        1px 6px 1px rgb(87, 100, 100),
        1px 7px 1px rgb(87, 100, 100),
        1px 8px 1px rgb(87, 100, 100),
        1px 9px 1px rgb(87, 100, 100),
        1px 10px 1px rgb(87, 100, 100),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.wrap-ant {
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    -moz-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    -o-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    width: 55px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.ant {
    position: absolute;
    right: -4px;
    top: 10px;
    width: 60px;
}

.wrap-text-under-header ul {
    display: flex;
    justify-content: center;
}

.wrap-text-under-header ul li {
    margin: 0 10px;
}

.shadow {
    color: darkcyan;
    border-top-right-radius: 3px;
    box-shadow: 8px -7px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 8px -7px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 8x -7px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 8px -7px 5px  rgba(0,0,0,0.6);
}

/* --- End Section Header --- */

/* --- Start Second Section --- */

.second-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.people-speaking-wraper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.two-people {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.wrap-mother {
    width: 50px;
}

.wrap-mother-pic {
    align-items: flex-start;
    display: flex;
}

.wrap-mother img {
    width: 100%;
}

.left-mother {
    position: relative;
}

.comment.left span,
.comment.right span {
    background-color: #00bfb6;
    padding: 10px;
    position: relative;
    width: 200px;
}

.comment.left span {
    left: 20px;
    top: 10px;
}

.comment.left span::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 6px;
}

.comment.right span {
    right: 20px;
    top: 10px;
}

.comment.right span::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
}

ul.reasons {
    list-style-type: disc;
    padding: 20px;
}

/* --- End Second Section --- */

/* --- Start Third Section - Boxes --- */

.third-section {
    width: 100%;
}

.wrap-boxes {
    align-items: center;
    display: flex;
    flex-flow: column;
}

 .line-pair {
    display: flex;
    margin: 30px 50px;
}

.box {    
    /* display: flex;
    flex-flow: column;
    align-items: center; */
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 57px;
    text-align: center;
}

.wrap-box-icon {
    border: 2px groove rgba(66, 64, 64, .6);
    border-radius: 10px;
    display: flex;
}

.new-line {
    font-size: 10px;
}

.single {
    display: flex;
    position: relative;
}

.second-pair {
    padding-left: 20px;
} 

.padding-right {
    margin-right: 20px;
}

ul.line-dashed li {
    border-top: 2px solid black;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    bottom: 3px;
    width: 12px;
}

.arrow-box {
    margin: 0 5px;
    position: relative;
}

.big-buffer {
    width: 300px;
}

.big-buffer.smaller {
    width: 260px;
}

.big-buffer.middle {
    width: 280px;
}

.big-buffer.smallest {
    width: 150px;
}

/* make curved line */

.line-dashed.curved {
    position: relative;
}

.line-dashed.curved .dash-one {
    transform: rotateZ(7deg);
}

.line-dashed.curved .dash-two {
    position: absolute;
    top: 22px;
    transform: rotateZ(32deg);
    left: 27px;
}

.line-dashed.curved .dash-three {
    position: absolute;
    left: 47px;
    top: 42px;
    transform: rotateZ(50deg);
}

.line-dashed.curved .dash-three::after, 
.line-dashed.flat .dash-three::after {
    content: "\f054";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    right: -3px;
    position: absolute;
    top: -7px;
}

.line-dashed.reverse .dash-one::before {
    content: "\f053";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    left: -3px;
    position: absolute;
    top: -7px;
}

.line-dashed.curved.after {
    position: relative;
}

.line-dashed.curved.after .dash-one {
    position: absolute;
    left: -41px;
    top: 26px;
    transform: rotateZ(90deg);
}

.line-dashed.curved.after .dash-two {
    position: absolute;
    left: -46px;
    top: 50px;
    transform: rotateZ(124deg);
}

.line-dashed.curved.after .dash-three {
    position: absolute;
    left: -63px;
    top: 60px;
    transform: rotateZ(176deg);
}

.arrow-box.absolute {
    position: absolute;
    top: 20px;
}

.line-dashed.reverse {
    position: relative;
}

.arrow-box.absolute .reverse .dash-one {
    bottom: 25px;
    position: absolute;
    transform: rotateZ(280deg);
}

.arrow-box.absolute .reverse .dash-two {
    bottom: 50px;
    left: 15px;
    position: absolute;
    transform: rotateZ(130deg)
}

.arrow-box.absolute .reverse .dash-three {
    bottom: 60px;
    left: 35px;
    position: absolute;

}

.seven {
    position: relative;
}

.seven .absolute .reverse .dash-one {
    position: absolute;
    right: 6px;
    bottom: 11px;
    transform: rotate(200deg);
}

.seven .absolute .reverse .dash-two {
    position: absolute;
    left: -42px;
    bottom: 25px;
    transform: rotate(236deg);
}

.seven .absolute .reverse .dash-three {
    position: absolute;
    left: -49px;
    bottom: 42px;
    transform: rotate(77deg);
}

.single:last-child {
    margin-top: 30px;
}

