.wrapper-current-cosmetic {
    display:  flex;
    flex-flow: column;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(173, 224, 163);
}

.ul-general-info {
    background-color: red;
    margin: 0 auto;
    width: 90%;
}

.li-general-info {
    text-indent: 20px;
    width: 100%;
}