.each-facial-treatment {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6), -3px -3px 8px rgba(255, 255, 255, 0.7);
    margin: 0 20px 30px 20px;
    padding: 10px 20px;
}

.each-facial-treatment h3 {
    color: var(--color-brown);
    font-size: 22px;

    text-shadow: 
        1px 0 white,
        0 1px white,
        -1px 0 white,
        0 -1px white,
        2px 0 rgb(138, 136, 136),
        0 2px rgb(138, 136, 136),
        -2px 0 rgb(138, 136, 136),
        0 -2px rgb(138, 136, 136),
        5px 10px 3px rgba(85, 84, 84, 0.5);

    /* text-shadow: 
        1px 0 white,
        0 1px white,
        -1px 0 black,
        0 -1px black; */

    /* font-weight: 100;
    text-shadow: 
        2px 2px 0px white, 
        -1px -1px 0px rgb(0 0 0 / 60%); */

/* background-color: #a52a2a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.8) -2px 2px 2px; */

        /* text-shadow: 0px 3px 0px #b2a98f,
                 2px 4px 5px rgba(0,0,0,0.35),
                 4px 8px 2px rgba(0,0,0,0.2),
                 6px 12px 15px rgba(0,0,0,0.2); */

        /* text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 2px 2px 2px rgba(206,89,55,0); */

        /* text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0); */
}

.description {
    border-radius: 12px;
    padding: 10px;
    box-shadow:  3px 3px 5px rgba(0,0,0,0.3), -3px -3px 5px rgba(255,255,255,1);
    margin: 20px 0;
    text-indent: 20px;
}

.description span {
    color: white;
    letter-spacing: 1px;
    background-color: #db8183;
    border-radius: 20px 145px / 135px;
    box-shadow: 0 0 0 1px #db8183, 5px 5px 3px rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 3px 4px 0 4px;
    display: inline-block;
}

.discount {
    box-shadow: inset -3px -3px 4px 2px white, inset 3px  3px 5px 1px rgba(0, 0, 0, 0.6);
    background-color: var(--color-brown);
    border-radius: 10px;
    padding: 15px 10px;
    color: rgba(230, 230, 230, 1);
}

.discount strong {
    /* color: red;
    color: white;
    font-weight: 100;
    background-color: #f7bccb;
    background-color: #db8183;
    padding: 2px 6px 0 6px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: inset 0 0 3px 1px rgb(26, 6, 6);
    box-shadow: inset -2px -2px 3px 0px white, inset 3px  3px 5px 0px rgba(0, 0, 0, 0.6); */
    
    background: linear-gradient(-45deg, rgba(0,0,0,0.26), rgba(255,255,255,0.57));
    border-radius: 12px;
    box-shadow: 8px 8px 12px 0 rgb(0 0 0 / 35%), -4px -4px 8px 0 rgb(255 255 255 / 35%);
    color: white;
    display: inline-block;
    font-weight: 100;
    padding: 3px 10px;
    text-shadow: 1px 1px 1px rgb(177 174 174), -1px -1px 1px rgb(0 0 0 / 60%);
}

.wrap-face-treatments-price {
    align-items: baseline;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3),-3px -3px 5px rgba(255,255,255,1);
    display: flex;
    margin: 20px 0;
    padding: 10px;
}

.word-price, .price {
    background-color: var(--color-brown);
    border: 1px solid rgb(15, 15, 15);
    border-radius: 22px;
    box-shadow: 
        0 0 1px 1px white,
        0 0 2px 2px black,
        0 10px 12px black;
    color: var(--color-white);
    padding: 5px 15px;
}

.dots {
    flex: 1;
    overflow: hidden;
}

@media (max-width: 991px) {
    .each-facial-treatment {
        font-size: 15px;
    }

    .each-facial-treatment h3 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .each-facial-treatment {
        font-size: 14px;
    }

    .each-facial-treatment h3 {
        font-size: 18px;
        line-height: 1.2;
    }

    .description span {
        font-size: 12px;
    }

    .word-price, .price {
        font-size: 14px;
        padding: 2px 12px 0px 12px;
    }
}

@media (max-width: 575px) {
    .each-facial-treatment h3 {
        font-size: 16px;
    }
}

@media (max-width: 319px) {
    .each-facial-treatment {
        margin: 0 10px 20px 10px;
        padding: 10px;
    }
}
