.cosmetics-item {
    background-color: rgba(248, 248, 248, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 55%);
    display: flex;
    flex: 0 0 45%;
    /* flex: 0 0 235px; */
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1.55%;
    padding: 10px;
}

.img {
    object-fit: cover;
}

.cosmetics-item:hover {
    background-color: rgba(248, 248, 248, 0.9);
}

.wrap-headings {
    width: 100%;
}

.wrap-main-name h2 {
    font-size: 16px;
    background-image: linear-gradient(to bottom, var(--color-brown) 40%, var(--color-darkcyan));
    background-clip: text;
    color: transparent;
}

.wrap-secondary-name {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 35px;
}

.wrap-secondary-name h3 {
    color: rgba(165, 42, 42, 1);
    text-shadow:  0px 0px 2px white,
                1px 1px 0px var(--color-darkcyan),
                1px 2px 0px rgba(154, 14, 14, 1),
                1px 10px 5px rgba(16, 16, 16, 0.5);
}

.wrap-image-cosmetics {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px inset rgb(0 0 0 / 50%);
    display: flex;
    height: 160px;
    margin: 20px auto;
    padding: 10px;
}

.wrap-btn-cosmetics {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-cosmetics {
    padding: 10px 30px;
    background-color: var(--color-darkcyan);
    color: white;
    border-radius: 8px;
    display:  inline-block;
    margin: 10px 0;
    font-weight: 400;

}

.btn-cosmetics:hover {
    background-color: var(--color-light-darkcyan);
    text-shadow: 1px 1px 2px var(--color-black);
}