.main-header {
    padding-bottom: 20px;
    position: relative;
}

.main-header::after {
    background-color: rgba(220, 220, 220, 0.4);
    bottom: -10px;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 1px cornsilk;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.main-header h1 {
    color: var(--color-brown);
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    margin-top: 20px;
    position: relative;
    text-shadow: 3px 3px 1px var(--color-lightgray), 4px 4px 1px rgba(0, 0, 0, 0.6);
}

.salon {
    color: rgba(68, 66, 66, 0.8);
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 3px var(--color-almost-white);
    text-align: center;
}

.main-header nav {
    display:  flex;
    flex-flow: row wrap;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
}

.menu li {
    align-items: center;
    border: 1px solid rgba(220, 220, 220, 0.4);
    border-radius: 12px;
    box-shadow: 0px 2px 7px 2px cornsilk, 1px 3px 8px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-right: 20px;
    overflow: hidden;
    text-shadow: 0 0 2px black;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:hover {
    box-shadow: 2px 8px 10px 0px rgba(0, 0, 0, .3);
    transform: translate3d(0, 2px, 0);
    transition: all 0.5s ease-in-out;
}

.menu li:active {
    -webkit-transform: scale(0.8) translateY(20%);
    transform: scale(0.8) translateY(20%);
    transition: all 0.3 ease-in-out;
}


.link-menu {
    align-items: center;
    color: rgb(250, 246, 246);
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;
}

.social-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.link-phone span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.phone {
    text-shadow: 0 0 2px black;
}

/* .instagram-icon {
    border-radius: 5px;
    display: block;
} */

@media (max-width: 1279px) {
    .main-header {
        margin: 0 20px;
    }
}

@media (max-width: 991px) {
    .link-menu {
        font-size: 15px;
        padding: 3px 5px;
    }
}

@media (max-width: 767px) {
    .main-header h1 {
        font-size: 28px;
    }

    .salon {
        font-size: 16px;
    }

    .main-header nav {
        align-items: flex-start;
    }

    .menu .socials-header {
        display: flex;
        flex-flow: column;
    }

    .socials-header {
        flex-flow: column-reverse;
        align-items: flex-end;
    }

    .socials-header li {
        margin-right: 0;
    }

    .socials-header li:not(:first-child) {
        margin-bottom: 15px;
    }

    .socials-header .link-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-phone span {
        padding-left: 5px;
    }
}

@media (max-width: 579px) {
    .main-header h1 {
        font-size: 26px;
    }

    .salon {
        font-size: 15px;
    }

    .menu {
        width: 300px;
        margin: 0 auto;
    }

    .main-header .main-menu {
        flex-flow: column;
        align-items: center;
    }

    .menu li {
        margin: 0 0 20px 0;
    }

    .main-menu li {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        width: 100%;
    }

    .link-menu {
        font-size: 14px;
    }

    .socials-header {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .socials-header li {
        padding: 5px;
    }

    .socials-header li:not(:first-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 319px) {
    .socials-header .link-menu {
        padding: 0;
        font-size: 12px;
    }    

    .link-menu {
        font-size: 13px;
    }
}

@media (max-width: 279px) {
    .main-header {
        padding-bottom: 0;
    }
    
    .main-header h1 {
        font-size: 20px;
    }

    .salon {
        font-size: 12px;
    }

    .link-menu, 
    .socials-header .link-menu {
        font-size: 12px;
    }

    .socials-header .link-phone {
        width: auto;
    }

    .social-icons {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
    }

    .phone-image {
        height: 12px;
        width: 10px;
    }

    .link-phone span {
        padding-left: 2px;
    }

    .phone-image  {
        width: 15px;
    }
}

@media (max-width: 250px) {
    .socials-header .link-phone {
        font-size: 8px;
    }
}
