.wrapper {
    display: flex;
    flex-flow: column;
}

.wrapper article {
    margin-bottom: 50px;
}

.top-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.top-center p {
    border-radius: 20px;
    color: rgb(247, 243, 243);
    flex: 0 1 70%;
    padding: 20px;
    text-shadow: 1px 1px gray;
    text-indent: 20px;
    font-weight: 300;
    letter-spacing: 0.03em;

}

.wrap-text-and-images {
    display: flex;
    flex-flow: row nowrap;
    background-image: linear-gradient(to bottom left, rgba(128, 128, 128, 1), rgb(234, 231, 231));
    box-shadow: 0px 0px 7px 2px cornsilk, 1px 3px 8px 3px rgb(0 0 0 / 50%);
    border-radius: 10px;
    justify-content: space-between;
}

.wrap-images {
    flex: 1 0 618px;
}

.wrap-text {
    color: var(--color-black);
    border-radius: 10px 0 0 10px;
    padding: 20px;
    text-indent: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrap-text:nth-child(odd) {
    color: black;
}

.wrap-text:nth-child(even) {
    color: white;
    /* color: #1EC299; */
}

.wrap-images ul {
    display: flex;
    flex-flow: row wrap;
}

.remove-space {
    font-size: 0;
}

.current-image {
    opacity: 0.8;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 3px;
}

.current-image:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 1s;
    z-index: 2;
}

.about-us-image {
    width: 200px;
}