.wrap-contacts-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrap-contacts-page section {
    flex: 1 0 100%;
}

.center {
    margin: 0 auto;
    width: 300px;
}

.wrap-socials {
    display: flex;
    flex: 1 0 100%;
    margin: 5px 0;
}

.wrap-socials span:first-child {
    margin-right: 5px;
}

.linkFacebook {
    color: rgba(58, 150, 211, 0.7);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.linkFacebook:hover {
    text-shadow: 1px 1px 0 rgba(2, 69, 145, 0.5);

}

.wrap-google-maps {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 255, 0, 0.1);
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.googleText {
    color: rgba(233, 119, 119, 1);
    text-shadow: 1px 1px 0 rgba(0 0 0 / 50%);
    position: absolute;
    top: -10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.googleText::after {
    content: "";
    background-image: url("https://res.cloudinary.com/audipower/image/upload/v1643362514/logo_fusle7.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 70px;
    height: 70px;
}

@media (max-width: 768px) {
    .wrap-google-maps {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 480px) {
    .center {
        font-size: 14px;
        width: 250px;
    }

    .wrap-socials {
        margin: 3px 0;
    }

    .wrap-socials span:first-child {
        width: 15px;
    }

    .wrap-google-maps {
        width: 250px;
        height: 250px;
    }

    .googleText {
        font-size: 10px;
    }

    .googleText::after {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 320px) {
    .center {
        font-size: 12px;
    width: 200px;
    }
    .wrap-google-maps {
        width: 200px;
        height: 200px;
    }
}