@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: "Muli", sans-serif;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}