@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: "Muli", sans-serif;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}