.wrap-all-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 70em;
    margin: 0 auto;
    padding: 2em;
}

header {
    flex: 1 0 100%;
}

aside, main {
    display: flex;
    margin: 30px 0;
}

aside {
    /* flex: 0 0 20%; */
    flex: 0 0 185px;
}

/* Start - Main */

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

main {
    border-radius: 20px;
    display: flex;
    /* flex: 0 0 80%; */
    flex: 0 0 750px;
    flex-flow: row wrap;
}

.wrap-all-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 3.33%;
    position: relative;
}

.wrap-cur-service {
    align-items: flex-start;
    background-color: rgba(248, 248, 248, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 55%);
    display: flex;
    flex: 0 0 30%;
    flex: 0 0 235px;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1.55%;
    padding: 10px;
}

.wrap-cur-service div {
    font-size: 13px;
}

.wrap-brand-name,
.wrap-therapy-name {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrap-brand-name {
    min-height: 50px;
}

.wrap-therapy-name {
    min-height: 35px;
}

.wrap-cur-service h4 {
    color: var(--color-brown, rgba(165, 42, 42, 1));
    line-height: 1;
    text-align: center;
    width: 100%;
}

.wrap-image-service {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px inset rgba(0, 0, 0, 0.5);
    display: flex;
    height: 160px;
    margin: 20px auto;
    padding: 10px;
}

.wrap-btn-more {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button.more {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--color-darkcyan, rgba(0, 139, 139, 1));
    color: white;
    border-radius: 8px;
}

.long-full {
    margin: 0 auto;
    width: 100%;
}

.wrap-therapy-name h4:last-child {
    color: var(--color-darkcyan, rgba(0,    139, 139, 1));
}

/* End Main */

/* Footer */

footer {
    width: 100%;
}

.wrap-footer {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    justify-content: space-evenly;
}

.brands {
    background-color: rgba(248, 248, 248, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 55%);
    flex: 1 0 100%;
    margin-bottom: 30px;
    padding: 20px;
}

.brands h4 {
    color: var(--color-darkcyan, rgba(0, 139, 139, 1));
    text-shadow: 1px 1px 0px rgb(143 49 5);
    text-align: center;
}

.footer-styling,
.footer-styling li a {
    color: rgba(68, 66, 66, 0.8);
    font-weight: bold;
    text-shadow: 0px 0px 3px var(--color-almost-white, rgba(230, 230, 230, 1));
}

.footer-styling li a:hover {
    color: var(--color-almost-white, rgba(230, 230, 230, 1));
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

/* Start styling the before element of the brand */

.brands ul {
    color: brown;
    display: flex;
    flex-flow: row wrap;
    text-shadow: 0px 0px 1px darkcyan;
}

.brands .one-line-brand {
    flex: 0 0 50%;
}

.brands .first-level {
    text-align: center;
}

.brands .second-level:last-child {
    text-align: right;
}

.brands ul li {
    position: relative;
}

.brands ul li:first-child {
    flex: 1 0 100%;
    text-align: center;
}

.brands ul li::before {
    background-color: rgba(155, 255, 255, 1);
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0px 9px 6px 2px rgba(0, 113, 0, 0.5);
    content: "";
    height: 2px;
    position: absolute;
}

.brands ul li:first-child::before {
    width: 150px;
}

.brands ul li:nth-child(2)::before {
    width: 110px;
}

.brands ul li:nth-child(3)::before {
    width: 85px;
}

.brands ul li:nth-child(4)::before {
    width: 75px;
}

.brands ul li:nth-child(5)::before {
    width: 85px;
}

/* End styling the after element of the brand */

.contacts .wrap-h1 {
    justify-content: center;
}

.contacts .logo h1 {
    font-size: 16px;
    text-shadow: 1px 1px 1px var(--color-lightgray, rgba(220,220,220,0.7)),
    2px 2px 1px rgba(0, 0, 0, 0.6);
}

.contacts .name {
    font-size: 13px;
}

.footer-socials {
    display: flex;
    flex-flow: row wrap;
}

.footer-socials h4 {
    flex: 1 0 100%;
}

footer h4 {
    color: var(--color-brown, rgba(165, 42, 42, 1));
    font-weight: 700;
    padding-bottom: 10px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
}

/* End Footer */

/* .wrap-text {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
} */

/* .text-service {
    line-height: 1.5;
    padding: 20px 5px;
    text-align: justify;
} */







/* .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
} */

/* .leaf::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06c";
} */